<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Custom Slides</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img src="assets/images/05.jpg" />
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/images/04.jpg" />
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/images/03.jpg" />
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/images/02.jpg" />
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/images/01.jpg" />
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
