ion-toolbar {
  --background: #091d23;
  color: #fff;
}

.mat-stepper-vertical {
  background: #091d23;
}

::ng-deep .mat-vertical-content {
  padding: 0;
}

::ng-deep .mat-step-label {
  color: #091d23;
  font-weight: bold;
  background-color: #ffc409;
  padding: 6px 20px;
  border-radius: 16px;
}

::ng-deep .mat-step-header .mat-step-icon {
  background-color: #ffd167;
  color: #091d23;
  font-weight: bold;
}

::ng-deep .mat-stepper-vertical-line::before {
  border-color: #fff;
}

.wave-container {
  position: relative;
  color: #fff;
  text-align: center;
  overflow: hidden;
  background: #091d23;
}

.wave-container > svg {
  display: block;
}

img {
  width: 200px;
}

ion-footer {
  ion-toolbar {
    --background: rgba(0, 0, 0, 0);
    ion-title {
      color: rgb(59, 59, 59);
      font-size: 12px;
    }
  }
}
